<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>webapp</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>EmployeeSignUp</servlet-name>
    <servlet-class>com.demo.SignUP.EmployeeSignUp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeSignUp</servlet-name>
    <url-pattern>/signup</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>HttpSessionDemo</servlet-name>
    <servlet-class>com.demo.session.HttpSessionDemo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HttpSessionDemo</servlet-name>
    <url-pattern>/session</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>retrivecheckbox</servlet-name>
    <servlet-class>com.demo.retrivecheckbox.retrivecheckbox</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>retrivecheckbox</servlet-name>
    <url-pattern>/checkbox</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>employee</servlet-name>
    <servlet-class>com.demo.checkboxEmployee.employee</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>employee</servlet-name>
    <url-pattern>/employee</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletConfigurationDemo</servlet-name>
    <servlet-class>com.demo.ServletconfigurationDemo.ServletConfigurationDemo</servlet-class>
    <init-param>
      <param-name>user</param-name>
      <param-value>system</param-value>
    </init-param>
    <init-param>
      <param-name>password</param-name>
      <param-value>root</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletConfigurationDemo</servlet-name>
    <url-pattern>/config</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>contextdemo</servlet-name>
    <servlet-class>com.demo.contextdemo.contextdemo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>contextdemo</servlet-name>
    <url-pattern>/context</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>servletcontextdemo2</servlet-name>
    <servlet-class>com.demo.servletcontextdemo2.servletcontextdemo2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servletcontextdemo2</servlet-name>
    <url-pattern>/allone</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>admin</param-name>
    <param-value>java</param-value>
  </context-param>
 <!--    <servlet>
    <servlet-name>firstservlet</servlet-name>
    <servlet-class>com.demo.redirectvalueURL.firstservlet</servlet-class>
   </servlet>
  <servlet-mapping>
    <servlet-name>firstservlet</servlet-name>
    <url-pattern>/try</url-pattern>
  </servlet-mapping>-->
</web-app>